doctype html
html
    head
        meta(charset="utf-8")
        //          
            .
        title WebRTC-Po
        link(rel="stylesheet", type="text/css", href="./css/style.css", inline=true)
    bodyf
        h1 WebRTC-Device-Check-Tool
        #error
            | !Do not support this browser.!
            a(href="https://www.google.co.jp/chrome/browser/desktop/", title="Google Chromeの最新版をダウンロード", target="_blank") Google Chrome
            | Please use chrome or firefox.
        h2 How to use?
        ul
            li 1. Please allow to use mic/camera on your browser.
            li 2. Please reload this browser.
            li 3. Please say on your mic, then you can hear your voice on your speaker/headset.
            li ■ You Hear your voice 
                div **Success! Please waiting for your lesson.**
            li ■ You don't hear your voice
                div **Failed, Please check below.**
            br 
            li If you change your device setting, please reload your broser.
            p 
        h2 If you cannot hear your voice,
        ul
            li Please check your device(mic/camera/speaker/pc...) is connected.
            li Please check your pc setting, enable to use your mic/camera/speaker.
            li Please close you application that is need to use mic/camera/speaker. (ex. Skype/Appear.in)
            li Please try to reload/restart browser.
        hr
        fieldset
            legend
                label(for="audioinput") Mic
            select#audioinput(size="5")
        fieldset
            legend
                label(for="videoinput") Camera
            select#videoinput(size="5")
        fieldset
            legend
                label(for="audiooutput") Speaker
            select#audiooutput(size="5")
        fieldset.bandwidthSelector
            legend
                label(for="videoBandwidth") BandWidth
            select#videoBandwidth
                option(value="1000") 1000
                option(value="500") 500
                option(value="300" selected) 300
                option(value="100") 100
            | kbps

        #videoWrapper
            | No Camera
            video#video(autoplay=true)
        script(type="text/javascript", src="./js/script.min.js", inline=true)
